/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/


/*index page settings:*/
* { 
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
  }

body {
    margin: 0;
}

/* Page layout */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.side {
  width: 25%;
  border-right: #73AD21 solid 2px;
  height: 100vh;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/*if screen collapses:*/
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.validation_errors{
  background-color: crimson;
  color: black;
  font-weight: bold;
}

.loginButton{
  background-color: darkgrey;
  color: black;
  text-decoration: none;
  border:none;
}

.alert-success{
  background-color: #73AD21;
  color: white;
  font-weight: bold;
  font-size: 16px;
  animation: hideMe 5s forwards;
}


@keyframes hideMe{
  0%{
      opacity: 1;
  }
  99.99%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
/***************************************/

/*header page settings:*/
.topnav {
    overflow: hidden;
    border-bottom: #73AD21 solid 2px;
  }
  
  /*Logo*/
  .topnav p {
    float: left;
    display: block;
    color: #73AD21;
    text-align: left;
    padding: 1px 2px;
    text-decoration: none;
    font-size: 36px;
    margin-top: 5px;
  }   
 
  /*Search bar attributes:*/
  .topnav .loginlink {
    float: right;
    text-decoration: none;
    font-size: 20px;
    padding: 6px;
    margin-top: 50px;
    margin-bottom:5px;
  }

  @media screen and (max-width: 500px) {
    .topnav .search-container {
      float: none;
    }
    .topnav p, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
 }

 /**********************************/
 
/*side navbar page settings:*/

.vertical-menu {
    margin-top: 2px;
  }
  
  .vertical-menu a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #73AD21;
    color: white;
  }

  .alert-danger{
    background-color: crimson;
    color: black;
    font-weight: bold;
  }